src/BioCheckAnalyzer64/ModelSchema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AnalysisInput">
    <xsd:complexType>
      <xsd:sequence>
        <!-- List of cells. Never generated by Silverlight client -->
        <xsd:element name="Cells" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Cell" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:attribute name="Name" type="xsd:string" use="required"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>        
        
        <!-- List of variables -->
        <xsd:element name="Variables" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Variable" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Number" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="RangeFrom" type="xsd:double"/>
                    <xsd:element name="RangeTo" type="xsd:double"/>
                    <xsd:element name="Function" type="xsd:string" minOccurs="0"/> <!-- Missing element and null string are different -->
                    <xsd:element name="Tags" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Tag">
                            <xsd:complexType>
                              <xsd:attribute name="Id" type="xsd:int" use="required"/>
                              <xsd:attribute name="Name" type="xsd:string" use="required"/> <!-- Cell name or "_" -->
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="Id" type="xsd:int" use="required"/>                  
                </xsd:complexType>                
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        
        <!-- Relationships -->
        <xsd:element name="Relationships" minOccurs="0" maxOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Relationship" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="FromVariableId" type="xsd:int"/>
                    <xsd:element name="ToVariableId" type="xsd:int"/>
                    <xsd:element name="Type">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="Activator"/>
                          <xsd:enumeration value="Inhibitor"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="Id" type="xsd:int" use="required"/>                  
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    
    <!-- PK/FK for variables and relationships -->
    <xsd:key name="Variables">
      <xsd:selector xpath="Variable/Variables"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>

    <xsd:keyref name="FromVariable" refer="Variables">
      <xsd:selector xpath="Relationships/Relationship"/>
      <xsd:field xpath="FromVariableId"/>
    </xsd:keyref>

    <xsd:keyref name="ToVariable" refer="Variables">
      <xsd:selector xpath="Relationships/Relationship"/>
      <xsd:field xpath="ToVariableId"/>
    </xsd:keyref>
  </xsd:element>
</xsd:schema>

