src/BioCheck.Client/Service References/LogService/LogService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TableServiceEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartitionKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableServiceEntity" nillable="true" type="tns:TableServiceEntity" />
</xs:schema>