src/BioCheck.Client/Service References/LogService/LogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BioCheck.Web.Log" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BioCheck.Web.Log" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4807/Services/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" />
  <xs:complexType name="UsuageDataModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" base="q1:TableServiceEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Duration" type="xs:int" />
          <xs:element minOccurs="0" name="FurtherTesting" type="xs:int" />
          <xs:element minOccurs="0" name="ImportModel" type="xs:int" />
          <xs:element minOccurs="0" name="LogInTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LogOutTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NewModel" type="xs:int" />
          <xs:element minOccurs="0" name="RunProof" type="xs:int" />
          <xs:element minOccurs="0" name="RunSimulation" type="xs:int" />
          <xs:element minOccurs="0" name="SaveModel" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsuageDataModel" nillable="true" type="tns:UsuageDataModel" />
</xs:schema>