projects/BioCheckWeb/BioCheckWeb-Html/BioCheck.Client/Service References/AnalysisService/AnalysisService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:4807/Services/AnalysisService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:4807/Services/AnalysisService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4807/Services/AnalysisService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BioCheck.Web.Analysis" />
      <xsd:import schemaLocation="http://localhost:4807/Services/AnalysisService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AnalysisService_Analyze_InputMessage">
    <wsdl:part name="parameters" element="Analyze" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_Analyze_OutputMessage">
    <wsdl:part name="parameters" element="AnalyzeResponse" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_FindCounterExamples_InputMessage">
    <wsdl:part name="parameters" element="FindCounterExamples" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_FindCounterExamples_OutputMessage">
    <wsdl:part name="parameters" element="FindCounterExamplesResponse" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_Simulate_InputMessage">
    <wsdl:part name="parameters" element="Simulate" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_Simulate_OutputMessage">
    <wsdl:part name="parameters" element="SimulateResponse" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_Validate_InputMessage">
    <wsdl:part name="parameters" element="Validate" />
  </wsdl:message>
  <wsdl:message name="AnalysisService_Validate_OutputMessage">
    <wsdl:part name="parameters" element="ValidateResponse" />
  </wsdl:message>
  <wsdl:portType name="AnalysisService">
    <wsdl:operation name="Analyze">
      <wsdl:input wsaw:Action="urn:AnalysisService/Analyze" message="AnalysisService_Analyze_InputMessage" />
      <wsdl:output wsaw:Action="urn:AnalysisService/AnalyzeResponse" message="AnalysisService_Analyze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCounterExamples">
      <wsdl:input wsaw:Action="urn:AnalysisService/FindCounterExamples" message="AnalysisService_FindCounterExamples_InputMessage" />
      <wsdl:output wsaw:Action="urn:AnalysisService/FindCounterExamplesResponse" message="AnalysisService_FindCounterExamples_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Simulate">
      <wsdl:input wsaw:Action="urn:AnalysisService/Simulate" message="AnalysisService_Simulate_InputMessage" />
      <wsdl:output wsaw:Action="urn:AnalysisService/SimulateResponse" message="AnalysisService_Simulate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="urn:AnalysisService/Validate" message="AnalysisService_Validate_InputMessage" />
      <wsdl:output wsaw:Action="urn:AnalysisService/ValidateResponse" message="AnalysisService_Validate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>