src/BioCheck.Client/SampleData/SampleGraphData/SampleGraphData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleGraphData" targetNamespace="Expression.Blend.SampleData.SampleGraphData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleGraphData" type="tns:SampleGraphData" />
  <xs:complexType name="SampleGraphData">
    <xs:sequence>
      <xs:element name="Lines" type="tns:Lines" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Lines">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LinesItem" type="tns:LinesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinesItem">
    <xs:attribute blend:FormatParameters="1,6" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="LineColour" type="xs:string" />
  </xs:complexType>
</xs:schema>