projects/BioCheckWeb/BioCheckWeb-Html/BioCheck.Client/Service References/LogService/LogService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:4807/Services/LogService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:4807/Services/LogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4807/Services/LogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BioCheck.Web.Log" />
      <xsd:import schemaLocation="http://localhost:4807/Services/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.StorageClient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LogService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="LogIn" />
  </wsdl:message>
  <wsdl:message name="LogService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="LogInResponse" />
  </wsdl:message>
  <wsdl:message name="LogService_Update_InputMessage">
    <wsdl:part name="parameters" element="Update" />
  </wsdl:message>
  <wsdl:message name="LogService_Update_OutputMessage">
    <wsdl:part name="parameters" element="UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LogService_Error_InputMessage">
    <wsdl:part name="parameters" element="Error" />
  </wsdl:message>
  <wsdl:message name="LogService_Error_OutputMessage">
    <wsdl:part name="parameters" element="ErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="LogService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="urn:LogService/LogIn" message="LogService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="urn:LogService/LogInResponse" message="LogService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="urn:LogService/Update" message="LogService_Update_InputMessage" />
      <wsdl:output wsaw:Action="urn:LogService/UpdateResponse" message="LogService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Error">
      <wsdl:input wsaw:Action="urn:LogService/Error" message="LogService_Error_InputMessage" />
      <wsdl:output wsaw:Action="urn:LogService/ErrorResponse" message="LogService_Error_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>