src/BioCheck.Client/SampleData/ProofData/ProofData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ProofData" targetNamespace="Expression.Blend.SampleData.ProofData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProofData" type="tns:ProofData" />
  <xs:complexType name="ProofData">
    <xs:sequence>
      <xs:element name="Variables" type="tns:Variables" />
      <xs:element name="ProgressionInfos" type="tns:ProgressionInfos" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2,8" name="ModelName" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="NumberOfSteps" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Variables">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="VariablesItem" type="tns:VariablesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VariablesItem">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Colors" name="GraphColor" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Range" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="InitialValue" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="ProgressionInfos">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProgressionInfosItem" type="tns:ProgressionInfosItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProgressionInfosItem">
    <xs:attribute blend:FormatParameters="1" name="InitialValue" type="xs:double" />
  </xs:complexType>
</xs:schema>